<div class="span4">
    <h3>Login</h3>
    <form name="form" class="login-form">

    <div class="alert alert-warning" ng-show="authReason">{{authReason}}</div>

    <div class="alert alert-error" ng-show="authError" ng-bind-html="authError"></div>

    <div class="control-group">
      <label class="control-label" for='email'>Email</label>
      <div class="controls">
        <input class="span3" ng-model='user.email' type='email' required>
        <span class="help-block" ng-show="form.$error.email[0].$invalid && form.$error.email[0].$dirty">Please enter a valid email.</span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for='password'>Password</label>
      <div class="controls">
        <input class="span3" ng-model='user.password' type='password' required>
        <br>
        <!-- <a href="/forgotPassword">Forgot Your Password?</a> -->
        <a  class="hand" data-ng-click="forgotPassword()">Forgot Your Password?</a>
      </div>
    </div>

    <label class="checkbox">Keep me signed in
      <input class="check_boxes optional" ng-model='user.remember_me' type="checkbox" checked='true'>
    </label>

    <button class="btn btn-primary user" ng-click="login()" ng-disabled='form.$invalid'><i class="icon-lock icon-white"></i> Sign in</button>
    <button class="btn btn-warning cancel" ng-click="cancelLogin()">Cancel</button>
  </form>
</div>
<div class="span3">
  <br>
  <p align="center">Or sign in with<br>
    <a href="/auth/facebook"><img src='assets/img/facebook.png'></a>
    <a href="/auth/google")><img src='assets/img/google.png'></a>
  </p>

  <div ng-show="showResendLink()">
    <hr>
    <p>Click here to:</p>
    <a class="hand" ng-click="resendActivation()">Resend Activation Link</a>
  </div>
</div>