@import "compass_twitter_bootstrap";

body {
  padding-top: 60px;
}

h1 {
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 10px;
}

// .form-horizontal .form-actions {
//   margin-bottom: 0;
// }

.center {
  text-align: center;
}

.hand {
  cursor: pointer;
}