<div ng-show="account.hasPassword">
  <form class="well form-horizontal" name="PasswordChange">
    <div class="control-group">
      <label class="control-label" for='currentPassword'>Current Password</label>
      <div class="controls">
        <input id="currentPassword" class="span3" required type='password' ng-model="password.currentPassword">
      </div>
    </div>

    <hr>

    <div class="control-group">
      <label class="control-label" for='newPassword'>New Password</label>
      <div class="controls">
        <input id="newPassword" class="span3" required type='password' ng-model="password.newPassword">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for='passwordConfirm'>Confirm New Password</label>
      <div class="controls">
        <input id="passwordConfirm" class="span3" required type='password' ng-model="password.passwordConfirm">
      </div>
    </div>

    <div class="form-actions">
      <button class="btn btn-primary" type='submit' ng-click="update()" ng-disabled="PasswordReset.$invalid">Update</button>
    </div>
  </form>
</div>
<div class="span9" ng-hide="account.hasPassword">
  <h3> Request a password</h3>
  <p>As you have registered through a social site you have not setup a password for this site yet. Click on the button below and we'll send you out a link to create a password.</p>
  <button class="btn btn-large" ng-click="sendPasswordLink(account.email)" ng-disabled="sent">Send Password Link</button>
</div>