<div class="col-12 col-sm-6 col-lg-4">
  <div ng-show="facebook">
    <h3>Facebook
      <span class="icon-stack hand" ng-click="removeLinkedAccount(facebook.provider, facebook._id)">
        <i class="icon-circle icon-stack-base"></i>
        <i class="icon-remove icon-light"></i>
      </span>
    </h3>
    <img ng-src={{facebook.picture}}>
  </div>
  <div ng-hide="facebook">
    <p><a class="hand" ng-click="oAuth('facebook')">Link your Facebook Account</a></p>
    <a class="btn btn-large btn-default" ng-click="oAuth('facebook')">
      <img src='/images/facebook.png'>
      &nbsp; Facebook &nbsp; &nbsp;
    </a>
  </div>
</div>

<div class="col-12 col-sm-6 col-lg-4 pull-right">
  <div ng-show="google">
    <h3>Google
      <span class="icon-stack hand" ng-click="removeLinkedAccount(google.provider, google._id)">
        <i class="icon-circle icon-stack-base"></i>
        <i class="icon-remove icon-light"></i>
      </span>
<!--       <button class="btn pull-right" type="remove" ng-click="removeLinkedAccount(google.provider, google._id)"><i class="icon-remove-sign"></i></button> -->
    </h3>
    <img ng-src={{google.picture}}>
  </div>
  <div ng-hide="google">
    <p><a class="hand" ng-click="oAuth('google')">Link your Google Account</a></p>
    <a class="btn btn-large btn-default" ng-click="oAuth('google')">
      <img src='/images/google.png'>
      &nbsp; Google &nbsp; &nbsp; &nbsp; &nbsp;
    </a>
  </div>
</div>
