<form class="form-horizontal" name="EditProfile">
  <div class="form-group">
    <label for='first' class="col-lg-2 control-label">First Name</label>
    <div class="col-lg-10">
      <input name='first' class="form-control" type='text' ng-model="account.first" required ng-disabled="!editCheck()">
      <span class="help-block" data-ng-show="EditProfile.first.$invalid && EditProfile.first.$dirty">First name is required.</span>
    </div>
  </div>

  <div class="form-group">
    <label for='name' class="col-lg-2 control-label">Last Name</label>
    <div class="col-lg-10">
      <input name='last' class="form-control" type='text' ng-model="account.last" required ng-disabled="!editCheck()">
      <span class="help-block" data-ng-show="EditProfile.last.$invalid && EditProfile.last.$dirty">Last name is required.</span>
    </div>
  </div>

  <div class="form-group">
    <label for='email' class="col-lg-2 control-label">Email</label>
    <div class="col-lg-10">
      <input name='email' class="form-control" type='email' ng-model="account.email" required ng-disabled="!editCheck()">
      <span class="help-block" data-ng-show="EditProfile.email.$invalid && EditProfile.email.$dirty">Email is required.</span>
    </div>
  </div>


  <div class="form-group">
    <label for='gender' class="col-lg-2 control-label">Gender</label>
    <div class="col-lg-10">
      <select name='gender' data-ng-model="account.gender" class="form-control" ng-disabled="!editCheck()" required>
        <option value="">-- Please Select --</option>
        <option ng-repeat="gender in genders" value="{{gender.value}}" ng-selected="gender.value == account.gender">{{gender.name}}</option>
￼￼￼￼￼￼￼￼</select>
      <span class="help-block" data-ng-show="EditProfile.gender.$invalid && EditProfile.gender.$dirty">Please select a gender.</span>
    </div>
  </div>

  <div class="form-group">
    <label for='birthday' class="col-lg-2 control-label">Birthday</label>
    <div class="col-lg-10">
      <input name='birthday' rsmDateDropdowns ng-model="account.birthday" ng-disabled="!editCheck()">
      <span class="col-lg-10 help-block noLeftPadding" data-ng-show="EditProfile.birthday.$error.rsmdatedropdowns">All date fields must be entered.</span>
    </div>
  </div>

  <div ng-show="editCheck()">
    <hr>
    <p>You need to enter your password to confirm these changes</p>

    <div class="form-group">
      <label for='password' class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">
        <input id="password" class="form-control" type='password' ng-model="account.password">
      </div>
    </div>
  </div>

  <button class="btn btn-primary" ng-show="!editCheck()" ng-click="edit()">Edit</button>
  <button class="btn btn-primary" ng-show="editCheck()" ng-click="update()" ng-disabled="EditProfile.$invalid">Update</button>
  <span ng-show="editCheck()">or <a class="hand" ng-click="cancelEdit()">cancel</a></span>
</form>
<div class="col-12 col-sm-8 col-lg-6" ng-hide="account.hasPassword">
  <p>As you have registered through a social site you have not setup a password for this site yet. If you want to edit any profile details please click on the button below to request a password.</p>
  <button class="btn btn-large" ng-controller="AccountPasswordCtrl" ng-click="sendPasswordLink(account.email)" ng-disabled="sent">Send Password Link</button>
</div>