<div ng-show="account.hasPassword">
  <form class="form-horizontal" name="PasswordChange">
    <div class="form-group">
      <label for='currentPassword' class="col-lg-3 control-label">Current Password</label>
      <div class="col-lg-9">
        <input type='password' id="currentPassword" class="form-control" required ng-model="password.currentPassword">
      </div>
    </div>

    <hr>

    <div class="form-group">
      <label for='newPassword' class="col-lg-3 control-label">New Password</label>
      <div class="col-lg-9">
        <input type='password' id="newPassword" class="form-control" required ng-model="password.newPassword">
      </div>
    </div>

    <div class="form-group">
      <label for='passwordConfirm' class="col-lg-3 control-label">Confirm New Password</label>
      <div class="col-lg-9">
        <input type='password' id="passwordConfirm" class="form-control" required ng-model="password.passwordConfirm">
      </div>
    </div>

    <button class="btn btn-primary" type='submit' ng-click="update()" ng-disabled="PasswordReset.$invalid">Update</button>
  </form>
</div>
<div class="col-12 col-sm-8 col-lg-6" ng-hide="account.hasPassword">
  <h3> Request a password</h3>
  <p>As you have registered through a social site you have not setup a password for this site yet. Click on the button below and we'll send you out a link to create a password.</p>
  <button class="btn btn-large" ng-click="sendPasswordLink(account.email)" ng-disabled="sent">Send Password Link</button>
</div>