<form name="form">
  <div>
    <h2>Reset Password</h2>

    <!-- <div class="alert alert-error" data-ng-show="authError" data-ng-bind-html-unsafe="authError"></div> -->

     <div class="form-group">
      <label class="control-label" for='password'>Password</label>
      <input class="form-control" data-ng-model='user.password' type='password' data-ng-minlength="6" required matchField="passwordSet">
      <span class="help-block" data-ng-show="form.$error.password[0].minlength && form.$error.password[0].$dirty">Password must be a minimum of 6 characters</span>
    </div>

    <div class="form-group">
      <label class="control-label" for='passwordConfirm'>Confirm Password</label>
      <input class="form-control" data-ng-model='user.passwordConfirm' type='password' required matchField="passwordSet">
      <span class="help-block" data-ng-show="form.passwordConfirm.$error.match && register.password.$dirty">Passwords do not match</span>
    </div>

    <button class="btn btn-primary" data-ng-disabled='form.$invalid' data-ng-click='changeForgottenPassword()'>Change Password</button>
    or
    <a class="show-signup" href="/register">cancel</a>
  </div>
</form>