<div>
  <form name="form">
    <h2>Forgot Password</h2>

    <!-- <div class="alert alert-error" ng-show="authError" ng-bind-html-unsafe="authError"></div> -->

     <div class="form-group">
      <label class="control-label" for='email'>Email</label>
      <input class="form-control" type='email' data-ng-model="user.email" required>
      <span class="error help-block" data-ng-show="form.$error.email[0].$invalid && form.$error.email[0].$dirty">Please enter a valid email.</span>
    </div>

    <button class="btn btn-primary" data-ng-disabled='form.$invalid' data-ng-click='forgotPassword()'>Send Reset Link</button>
    or
    <a class="show-signup" href="/register">cancel</a>
  </form>
</div>