<div class="row">
  <div class="span8" data-ng-include data-src="'scripts/common/account/assets/templates/benefits.tpl.html'"></div>
  <div class="span4">
    <div>
      <form class="well" name="form">
        <h2>Forgot Password</h2>

        <!-- <div class="alert alert-error" ng-show="authError" ng-bind-html-unsafe="authError"></div> -->

         <div class="control-group">
          <label class="control-label" for='email'>Email</label>
          <div class="controls">
            <input class="span3" type='email' data-ng-model="user.email" required>
             <span class="error help-block" data-ng-show="form.$error.email[0].$invalid && form.$error.email[0].$dirty">Please enter a valid email.</span>
          </div>
        </div>

        <button class="btn btn-primary" data-ng-disabled='form.$invalid' data-ng-click='forgotPassword()'>Send Reset Link</button>
        or
        <a class="show-signup" href="/">cancel</a>
      </form>
    </div>

    <!-- <div data-ng-show="authSuccess">
      <h2>Password Link Sent</h2>
      <p>{{authSuccess}}</p>
    </div> -->
  </div>
</div>