<ul class="nav navbar-nav pull-right">
  <li class="divider-vertical"></li>
  <li ng-show="loading"><div id="spinner"><i class="icon-spinner icon-spin icon-large icon-light text-center"></i></div></li>
  <li data-ng-show="isAuthenticated()" class="dropdown" data-ng-class="{active:isNavbarActive('account'), open:isAccountOpen}">
      <a href id="accountMenu" role="button" class="dropdown-toggle" data-ng-click="isAccountOpen=!isAccountOpen">{{currentUser.first}} {{currentUser.last}}</a>
      <ul  class="dropdown-menu" role="menu" aria-labelledby="accountMenu">
        <li><a tabindex="-1" href="/account" data-ng-click="isAccountOpen=false">Profile</a></li>
        <li><a tabindex="-1" href="/account/editPassword" data-ng-click="isAccountOpen=false">Password</a></li>
        <li><a tabindex="-1" href="/account/linkedAccounts" data-ng-click="isAccountOpen=false">Linked Accounts</a></li>
        <li class="divider"></li>
        <li><a tabindex="-1" href="/account/security" data-ng-click="isAccountOpen=false">Security</a></li>
        <li><a tabindex="-1" data-ng-click="logout('login')">Log out</a></li>
      </ul>
  </li>
<!--   <li data-ng-show="isAuthenticated()" class="logout">
      <form class="navbar-form">
          <button class="btn logout" data-ng-click="logout('register.show')">Log out</button>
      </form>
  </li> -->
  <li data-ng-hide="isAuthenticated()" class="login">
      <form class="navbar-form">
          <button class="btn btn-success" data-ng-click="register()">Register</button>
          <button class="btn login" data-ng-click="login()">Log in</button>
      </form>
  </li>
</ul>