<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="angularNeo4jApp"> <!--<![endif]-->
  <head>
    <base href="/">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
      <!-- add in the bootstrap cdn instead of large css file and two image files -->
      <!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
      <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet"> -->
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <!-- build:css({.tmp,app}) styles/main.css -->
      <link rel="stylesheet" href="styles/main.css">
      <!-- endbuild -->
  </head>
  <body ng-controller="AppCtrl">
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div data-ng-controller="HeaderCtrl">
      <div class="navbar navbar-inverse navbar-fixed-top">
        <!-- <div class="navbar-inner"> -->
        <div class="container">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand hand" ng-click="home()">Angular Neo4j</a>
          <div class="nav-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
              <li ng-class="{active:isNavbarActive('home')}"><a class="hand" ng-click="home()">Home</a></li>
              <li ng-class="{active:isNavbarActive('project')}"><a href="project">Projects</a></li>
              <li ng-class="{active:isNavbarActive('contact')}"><a href="contact">Contact</a></li>
              <li class="dropdown">
                <a id="dropdownMenu" href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                  <li><a tabindex="-1" href="#">Action</a></li>
                  <li><a tabindex="-1" href="#">Another action</a></li>
                  <li><a tabindex="-1" href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a tabindex="-1" href="#">Separated link</a></li>
                  <li><a tabindex="-1" href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <login-toolbar></login-toolbar>
          </div><!--/.nav-collapse -->
        </div><!-- /.container -->
      </div><!-- /.navbar -->
      <div class="container">
        <ul class="breadcrumb">
          <li ng-repeat="breadcrumb in breadcrumbs">
            <ng-switch on="$last">
              <span ng-switch-when="true" ng-bind="breadcrumb.name"></span>
              <span ng-switch-default><a href="{{breadcrumb.path}}" ng-bind="breadcrumb.name"></a></span>
            </ng-switch>
          </li>
        </ul>
      </div>
    </div>

    <!-- notifications section -->
    <div class='container'>
      <div ng-class="['alert', 'span11', 'alert-'+notification.type]" ng-repeat="notification in notifications.getCurrent()">
          <button class="close" ng-click="removeNotification(notification)">x</button>
          <span ng-bind="notification.message"></span>
          <!-- {{notification.message}} -->
      </div>
    </div>
    <!-- end of notifications section -->
    <div class="container" ui-view></div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
    //   var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    //   (function (d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    //   g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    //   s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

    <script src="bower_components/angular/angular.js"></script>

    <!-- build:js(src) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/templates.js"></script>
    <script src="scripts/systemMessages.js"></script>
    <script src="scripts/common/security/authorization.js"></script>
    <script src="scripts/common/security/index.js"></script>
    <script src="scripts/common/security/security.js"></script>
    <script src="scripts/common/security/interceptor.js"></script>
    <script src="scripts/common/security/retryQueue.js"></script>
    <script src="scripts/common/security/login/login.js"></script>
    <script src="scripts/common/security/login/LoginFormController.js"></script>
    <script src="scripts/common/security/login/toolbar.js"></script>
    <script src="scripts/common/services/breadcrumbs.js"></script>
    <script src="scripts/common/services/exceptionHandler.js"></script>
    <script src="scripts/common/services/httpRequestTracker.js"></script>
    <script src="scripts/common/services/i18nNotifications.js"></script>
    <script src="scripts/common/services/localizedMessages.js"></script>
    <script src="scripts/common/services/notifications.js"></script>
    <script src="scripts/common/services/titleService.js"></script>
    <script src="scripts/common/account/account.js"></script>
    <script src="scripts/common/account/register.js"></script>
    <script>
    // fix for facebook issue
    if (window.location.hash && window.location.hash === "#_=_") {
      window.location.hash = "";
    }
    </script>
    <!-- endbuild -->

<!--     build:js scripts/plugins.js
    <script src="bower_components/bootstrap-sass/js/bootstrap-affix.js"></script>
    <script src="bower_components/bootstrap-sass/js/bootstrap-alert.js"></script>
    <script src="bower_components/bootstrap-sass/js/bootstrap-dropdown.js"></script>
    <script src="bower_components/bootstrap-sass/js/bootstrap-tooltip.js"></script>
    <script src="bower_components/bootstrap-sass/js/bootstrap-modal.js"></script>
    <script src="bower_components/bootstrap-sass/js/bootstrap-transition.js"></script>
    <script src="bower_components/bootstrap-sass/js/bootstrap-button.js"></script>
    <script src="bower_components/bootstrap-sass/js/bootstrap-popover.js"></script>
    <script src="bower_components/bootstrap-sass/js/bootstrap-typeahead.js"></script>
    <script src="bower_components/bootstrap-sass/js/bootstrap-carousel.js"></script>
    <script src="bower_components/bootstrap-sass/js/bootstrap-scrollspy.js"></script>
    <script src="bower_components/bootstrap-sass/js/bootstrap-collapse.js"></script>
    <script src="bower_components/bootstrap-sass/js/bootstrap-tab.js"></script>
    endbuild -->

    <!-- build:js scripts/modules.js -->
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-date-dropdowns/directive.js"></script>
    <!-- endbuild -->
  </body>
</html>
