<h1>{{account.first}} {{account.last}}</h1>

<div class="row">
  <div class="span3" data-ng-include data-src="'scripts/account/accountMenu.html'"></div>
  <div class="span9">
    <div class="alert alert-error" ng-show="authError" ng-bind-html-unsafe="authError"></div>
    <form class="well form-horizontal" name="EditProfile">
      <!-- //- if (message.length>0)
      //-   p!= message -->
      <div class="control-group">
        <label class="control-label" for='first'>First Name</label>
        <div class="controls">
          <input class="span2" type='text' ng-model="account.first" required>
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label" for='name'>Last Name</label>
        <div class="controls">
          <input class="span2" type='text' ng-model="account.last" required>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for='email'>Email</label>
        <div class="controls">
          <input class="span2" type='text' ng-model="account.email" required>
        </div>
      </div>


      <div class="control-group">
        <label class="control-label" for='gender'>Gender</label>
        <div class="controls">
          <select data-ng-model="account.gender" class="input-large">
            <option value="">-- Please Select --</option>
            <option ng-repeat="gender in genders" value="{{gender.value}}" >{{gender.name}}</option>
  ￼￼￼￼￼￼￼￼</select>
          <span class="help-block" data-ng-show="EditProfile.gender.$error.required && EditProfile.gender.$dirty">Please select a gender.</span>
        </div>
      </div>

      <div class="form-actions">
        <button class="btn btn-primary" ng-click="update()">Update</button>
      </div>
    </form>
  </div>
</div>