<h1>{{account.first}} {{account.last}}</h1>

<div class="row">
  <div class="span3" data-ng-include data-src="'scripts/account/accountMenu.html'"></div>
  <div class="span9">
    <div class="alert alert-error" ng-show="authError" ng-bind-html-unsafe="authError"></div>
    <h3>Logged In</h3>
    <ul class="cookies">
      <li ng-repeat="cookie in cookies" class="thumbnail">
        <p>{{cookie.browser}}</p>
        <p>{{cookie.os}}</p>
        <p>{{cookie.created}}</p>
        <form name="form"><button class="btn" type="submit"><i class="icon-remove-sign"></i></button></form>
      </li>
    </ul>
<!--       if (cookies.length)
        table.table.table-hover.table-striped
          thead
            tr
              th #
              th Browser
              th OS
              th Date
              th Remove
          tbody
            each cookie, i in cookies
              tr
                td= i+1
                td= cookie.userAgent.Browser
                td= cookie.userAgent.OS
                td= cookie.created
                td
                  form(method='post', action='/account/removeCookie')
                    input(type='hidden', name='_csrf', value=token)
                    input(type='hidden', name='id', value=cookie.id)
                    button.btn(type='submit')
                      i.icon-remove-sign
      else
        <p>There are no cookies in use</p> -->
  </div>
</div>