<h1>{{account.first}} {{account.last}}</h1>

<div class="row">
  <div class="span3" data-ng-include data-src="'scripts/account/accountMenu.html'"></div>
  <div class="span9">
    <div class="alert alert-error" ng-show="authError" ng-bind-html-unsafe="authError"></div>
    <form class="well form-horizontal" anme="form">
      <input type='hidden' name='_csrf' value=token>
      <div class="control-group">
        <label class="control-label" for='currentPassword'>Current Password</label>
        <div class="controls">
          <input id="currentPassword" class="span2 required" type='password' name="currentPassword">
        </div>
      </div>
      
      <hr>

      <div class="control-group">
        <label class="control-label" for='newPassword'>New Password</label>
        <div class="controls">
          <input id="newPassword" class="span2 required" type='password' name="newPassword">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for='passwordConfirm'>Confirm New Password</label>
        <div class="controls">
          <input id="passwordConfirm" class="span2 required" type='password' name="passwordConfirm">
        </div>
      </div>

      <div class="form-actions">
        <button class="btn btn-primary" type='submit'>Update</button>
      </div>
    </form>
  </div>
</div>