<h1>{{account.first}} {{account.last}}</h1>

<div class="row">
  <div class="span3" data-ng-include data-src="'scripts/account/accountMenu.html'"></div>
  <div class="span9">
    <div class="span3">
      <div ng-show="noFacebook">
        <h3>Facebook</h3>
        <img src='http://graph.facebook.com/' + facebook.id + '/picture?type=large'>
      </div>
      <div ng-hide="noFacebook">
        <p><a href='auth/facebook'>Link your Facebook Account</a></p>
        <a class="btn" href="/auth/facebook">
          <img src='/img/facebook.png'>
          &nbsp; Facebook &nbsp; &nbsp;
        </a>
      </div>
    </div>
    
    <div class="span3">
      <div ng-show="noGoogle">
        <h3>Google</h3>
        <img src=google.picture>
      </div>
      <div ng-hide="noGoogle">
        <p><a href='auth/google'>Link your Google Account</a></p>
        <a class="btn" href="/auth/google">
          <img src='/img/google.png'>
          &nbsp; Google &nbsp; &nbsp; &nbsp; &nbsp;
        </a>
      </div>
    </div>
  </div>
</div>