<h1>{{account.first}} {{account.last}}</h1>

<div class="row">
  <div class="span3" data-ng-include data-src="'scripts/common/account/assets/templates/accountMenu.tpl.html'"></div>
  <div class="span9">
<!--     <div class="alert alert-error" ng-show="authError" ng-bind-html-unsafe="authError"></div>
    <div class="alert alert-success" ng-show="authSuccess" ng-bind-html-unsafe="authSuccess"></div> -->

    <form class="well form-horizontal" name="EditProfile">
      <div class="control-group">
        <label class="control-label" for='first'>First Name</label>
        <div class="controls">
          <input class="span3" type='text' ng-model="account.first" required ng-disabled="!editCheck()">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for='name'>Last Name</label>
        <div class="controls">
          <input class="span3" type='text' ng-model="account.last" required ng-disabled="!editCheck()">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for='email'>Email</label>
        <div class="controls">
          <input class="span3" type='text' ng-model="account.email" required ng-disabled="!editCheck()">
        </div>
      </div>


      <div class="control-group">
        <label class="control-label" for='gender'>Gender</label>
        <div class="controls">
          <select data-ng-model="account.gender" class="input-large" ng-disabled="!editCheck()">
            <option value="">-- Please Select --</option>
            <option ng-repeat="gender in genders" value="{{gender.value}}" ng-selected="gender.value == account.gender">{{gender.name}}</option>
  ￼￼￼￼￼￼￼￼</select>
          <span class="help-block" data-ng-show="EditProfile.gender.$error.required && EditProfile.gender.$dirty">Please select a gender.</span>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for='birthday'>Birthday</label>
        <div class="controls">
          <!-- <input ng-model="account.birthday" required ng-disabled="!editCheck()"> -->
          <input rsmDateDropdowns ng-model="account.birthday" ng-disabled="!editCheck()">
        </div>
      </div>

      <div ng-show="editCheck()">
        <hr>
        <p>You need to enter your password to confirm these changes</p>

        <div class="control-group">
          <label class="control-label" for='password'>Password</label>
          <div class="controls">
            <input id="password" class="span3" type='password' ng-model="account.password">
          </div>
        </div>
      </div>

      <div class="form-actions" ng-show="account.hasPassword">
        <button class="btn btn-primary" ng-show="!editCheck()" ng-click="edit()">Edit</button>
        <button class="btn btn-primary" ng-show="editCheck()" ng-click="update()" ng-disabled="EditProfile.$invalid">Update</button>
        <span ng-show="editCheck()">or <a class="hand" ng-click="cancelEdit()">cancel</a></span>
      </div>
      <div class="form-actions" ng-hide="account.hasPassword">
        <p>As you have registered through a social site you have not setup a password for this site yet. If you want to edit any profile details please click on the button below to request a password.</p>
        <button class="btn btn-large" ng-controller="AccountPasswordCtrl" ng-click="sendPasswordLink(account.email)" ng-disabled="sent">Send Password Link</button>
      </div>
    </form>
  </div>
</div>