<div class="row">
  <div class="span8" data-ng-include data-src="'views/partials/benefits.html'"></div>
  <div class="span4">
    <form class="well" data-ng-controller="RegisterCtrl" name="form">
      <div ng-hide="authSuccess">
        <input id="csrf" type='hidden' name='_csrf' ng-model='form._csrf' value="token" mp-value-copy>
        <h2>Change Forgotten Password</h2>
        
        <div class="alert alert-error" ng-show="authError" ng-bind-html-unsafe="authError"></div>

         <div class="control-group">
          <label class="control-label" for='password'>Password</label>
          <div class="controls">
            <input id="password" class="span2" ng-model='password' type='password' name="password" ng-minlength="6" required matchField="passwordSet">
            <span class="help-block" ng-show="form.$error.password[0].minlength && form.$error.password[0].$dirty">Password must be a minimum of 6 characters</span>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for='passwordConfirm'>Email</label>
          <div class="controls">
            <input id="passwordConfirm" class="span2" ng-model='passwordConfirm' type='password' name="passwordConfirm" required matchField="passwordSet">
            <span class="help-block" ng-show="form.passwordConfirm.$error.match && register.password.$dirty">Passwords do not match</span>
          </div>
        </div>

        <button class="btn btn-primary" ng-disabled='form.$invalid' ng-click='changeForgottenPassword()'>Change Passwordk</button>
        or
        <a class="show-signup" href="/">cancel</a>
      </div>

      <div ng-show="authSuccess">
        <h2>Password Successfully Changed</h2>
        <p>{{authSuccess}}</p>
      </div>
    </form>
  </div>
</div>