<div class="row">
  <div class="span8" data-ng-include data-src="'views/partials/benefits.html'"></div>
  <div class="span4">
    <form class="well" data-ng-controller="RegisterCtrl" name="form">
      <div ng-hide="authSuccess">
        <input id="csrf" type='hidden' name='_csrf' ng-model='form._csrf' value="token" mp-value-copy>
        <h2>Forgot Password</h2>

        <div class="alert alert-error" ng-show="authError" ng-bind-html-unsafe="authError"></div>

         <div class="control-group">
          <label class="control-label" for='email'>Email</label>
          <div class="controls">
            <input id="email" class="span3" type='email'
              name='email' ng-model="form.email" required>
            <span class="error help-block" ng-show="form.$error.email[0].$invalid && form.$error.email[0].$dirty">Please enter a valid email.</span>
          </div>
        </div>

        <button class="btn btn-primary" ng-disabled='form.$invalid' ng-click='forgotPassword()'>Send Reset Link</button>
        or
        <a class="show-signup" href="/">cancel</a>
      </div>

      <div ng-show="authSuccess">
        <h2>Password Link Sent</h2>
        <p>{{authSuccess}}</p>
      </div>
    </form>
  </div>
</div>