<div class="navbar navbar-inverse navbar-fixed-top" data-ng-controller="HeaderCtrl">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand hand" ng-click="home()">Angular Neo4j</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li ng-class="{active:isNavbarActive('home')}"><a class="hand" ng-click="home()">Home</a></li>
          <li ng-class="{active:isNavbarActive('projectsinfo')}"><a href="project">Projects</a></li>
          <li ng-class="{active:isNavbarActive('projectsinfo')}"><a href="contact">Contact</a></li>
          <li class="dropdown">
            <a id="dropdownMenu" href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
              <li><a tabindex="-1" href="#">Action</a></li>
              <li><a tabindex="-1" href="#">Another action</a></li>
              <li><a tabindex="-1" href="#">Something else here</a></li>
              <li class="divider"></li>
              <li class="nav-header">Nav header</li>
              <li><a tabindex="-1" href="#">Separated link</a></li>
              <li><a tabindex="-1" href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
        <login-toolbar></login-toolbar>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

